@charset "utf-8";

/*
    WEB303 Assignment 4
    Index Page
    Author: Manveet Kaur
    Student Id: W0782002
    Date: 2022/07/01
    Filename: index.html
    Section: 065
*/

/*BODY S*/
body{
    margin: 15;
    padding: 15;
}

/* Styling the buttons that will be used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
  
/* Adding a background color to the button if it is clicked on, and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}
  
/* Style the accordion panel.*/
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    transition: 0.2s ease-out ;
    overflow: hidden;
}

/*FOOTER*/
footer{
	text-align: center;
	font-size: 1.2em;
	margin-top: 4%;
	border-top: 3px solid rgb(0, 0, 0);
	font-family: Garamond, serif;
	padding-bottom: 20px;
}

